.profileCard {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    color: var(--color-white-whip);
    min-width: 400px;
}

.profileImage {
    object-fit: "contain";
    /* border: 2px var(--color-white-whip) solid; */
    width: 200px;
    height: 250px;
    object-fit: cover;
    border-radius: 76% 24% 63% 37% / 35% 20% 80% 65%;
    filter: grayscale(1);
}

.coachDescription {
    text-shadow: 0px 0px 15px var(--color-red);
    width: 300px;
    /* font-size: 1.3rem; */
}
@media (max-width: 800px) {
    .profileCard {
        display: flex;
        flex-direction: column;
        gap: 20px;
        color: var(--color-white-whip);
        align-items: center;
        justify-content: center;
    }
}
