.main {
    min-height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

/* ------------------------------------- 
General Section
---------------------------------------- */
.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
    justify-content: flex-start;
    font-family: "Ovo", serif;
}

.titleSection {
    text-align: center;
    font-size: 3rem;
    width: 100%;
    padding-bottom: 60px;
    color: var(--color-white-whip);
    font-variant: all-small-caps;
    margin-top: 50px;
    font-family: "Ovo", serif;
}

.animation {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
}

img.sticky_image {
    z-index: 0;
}

/* -------------------------------------
Welcome Section
--------------------------------------- */
.welcomeSection {
    background-image: url("/img/home/img.jpg");
    filter: grayscale(1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: sticky;
    z-index: -1;
    top: 10px;
    font-family: "Ovo", serif;
}

/* -------------------------------------
Coaches Section
--------------------------------------- */
.coachesSection {
    background-image: url("/img/home/pattern.svg");
    background-repeat: repeat;
    background-size: 200px;
    background-position: center;
    box-shadow: 0px 0px 80px 100px var(--color-red),
        inset 0px 50px 30px -20px var(--color-red);
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    min-height: 100vh;
    justify-content: flex-start;
    font-family: "Ovo", serif;
}

.coachesProfile {
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    margin-bottom: 20px;
    font-family: "Ovo", serif;
}

/* -------------------------------------
Links Section
--------------------------------------- */
.linksSection {
    background: linear-gradient(var(--color-red), 50%, var(--color-white-whip));

    box-shadow: 0px 0px 80px 100px #f7eee3, inset 0px 50px 30px -20px #f7eee3;
    background-image: url("/img/home/links.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    justify-content: flex-start;
    font-family: "Ovo", serif;
}
.linksSection .titleSection {
    color: var(--color-red);
}
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.card {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    text-decoration: none;
    border: 1px solid var(--color-green) !important;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    width: 300px;
    /* background-color: var(--color-white-whip); */
    transition: all 0.2s ease-in-out;
    color: var(--color-red);
    z-index: 1;
}



.card h2 {
    color: var(--color-green);
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
}

.card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
}

/* .card:active */
.card:hover,
.card:focus {
    background-color: var(--color-green);
    color: var(--color-white-whip);
}

.card:hover h2,
.card:focus h2{
    color: var(--color-white-whip);
}

/* -------------------------------------
 Partner Section
 --------------------------------------- */
.partnersContainer {
    display: flex;
    gap: 50px;
    padding: 80px;
    filter: grayscale(1);
}

.partnerSection .titleSection {
    color: var(--color-red);
}
/* .partnerSection {
    box-shadow: 0px 0px 80px 100px white;
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: flex-start;
    font-family: "Ovo", serif;
} */

@media (max-width: 1000px) {
    .coachesProfile {
        flex-direction: column;
    }
}

@media (max-width: 800px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
        width: 80%;
    }
    .partnersContainer {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
    }

    .partnersContainer img {
        width: 100px;
    }

    img.sticky_image {
        width: 300px;
    }
    .coachesProfile {
        align-items: center;
    }
    .coachesSection {
        padding: 0px;
    }
    .linksSection {
        padding: 0px;
    }
    .coachesSection {
        padding: 0px;
    }
    .partnerSection {
        padding: 0;
    }
    .coachesProfile {
        padding-bottom: 50%;
    }
    .card {
        width: 80%;
    }
}

@media (prefers-color-scheme: dark) {
    .card,
    .footer {
        border-color: #222;
    }
    .code {
        background: #111;
    }
    .logo img {
        filter: invert(1);
    }
}
