.main {
    min-height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(var(--color-white-whip), 30%, var(--color-red)); */
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
}

.title,
.description {
    text-align: center;
}

/* ------------------------------------- 
General Section
---------------------------------------- */
.section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

.titleSection {
    text-align: center;
    font-size: 3rem;
    width: 100%;
    padding-bottom: 60px;
    color: var(--color-white-whip);
}

/* -------------------------------------
Welcome Section
--------------------------------------- */
.welcomeSection {
    background-image: url("/img/home/img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: sticky;
    z-index: -1;
    top: 10px;
}

/* -------------------------------------
Coaches Section
--------------------------------------- */
.coachesSection {
    background-image: url("/img/home/pattern.svg");
    background-repeat: repeat;
    background-size: 200px;
    background-position: center;

    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.coachesProfile {
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    margin-bottom: 20px;
}

/* -------------------------------------
Links Section
--------------------------------------- */
.linksSection {
    background: linear-gradient(var(--color-red), 50%, var(--color-white-whip));
    box-shadow: 0px 0px 80px 100px var(--color-red);

    background-image: url("/img/home/links.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.linksSection .titleSection {
    color: var(--color-red);
}
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.card {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;

    text-decoration: none;
    border: 1px solid black;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    max-width: 400px;
    /* background-color: var(--color-white-whip); */
    transition: all 0.2s ease-in-out;
    color: var(--color-red);
}

/* .card:active */
.card:hover,
.card:focus {
    background-color: var(--color-red);
    color: var(--color-white-whip);
    border: 1px solid var(--color-red);

    /* border-color: var(--color-green); */
}

.card h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
}

.card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
}

/* -------------------------------------
 Partner Section
 --------------------------------------- */
.partnersContainer {
    padding: 50px;
    margin-top: 20px;
    border-radius: 12px;
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 50px;
}

.partnerSection {
    background-color: var(--color-white-whip);
}

@media (max-width: 1000px) {
    .coachesProfile {
        flex-direction: column;
    }
}

@media (max-width: 800px) {
    .grid {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
    }
    .partnersContainer {
        grid-template-columns: repeat(2, 2fr);
    }
}

@media (prefers-color-scheme: dark) {
    .card,
    .footer {
        border-color: #222;
    }
    .code {
        background: #111;
    }
    .logo img {
        filter: invert(1);
    }
}
