.materialSection {
    width: 100%;
    min-height: 96vh;

    background-image: url("/img/material/pattern_papanoel.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    /* background-color: var(--color-green); */
    /* background: linear-gradient(var(--color-white-whip), var(--color-green)); */
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.subjectContainer {
    width: 750px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin-top: 70px;
    margin-bottom: 20px;
}

@media (max-width: 800px) {
    .subjectContainer {
        width: 360px;
        grid-template-columns: 1fr;
        margin-left: 20%;
        margin-bottom: 10%;
    }
}
