.card {
    padding: 15px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.cardSection {
    background-color: var(--color-green);
    min-height: 90vh;
    display: flex;
    justify-content: center;
}

.cardPage {
    width: 80%;
    padding: 15px 30px;
    margin: 20px 0;
}

.cardTitle {
    margin: 10px 0;
}

.cardBody {
    font-size: 110%;
    line-height: 1.8;
    margin: 10px 0;
}

.cardBody pre {
    padding: 20px;
    margin: 20px 0;
    background-color: rgb(237, 236, 236);
    /* line-height: 1.8; */
}
.cardBody ul,
.cardBody ol {
    font-size: 110%;
    margin: 5px;
    padding-left: 40px;
}

.cardBody p {
    line-height: 1.8;
}
.cardBody h1,
.cardBody h2 {
    margin: 15px 0 0 0;
}

.cardBody table,
.cardBody th,
.cardBody td {
    border: 1px solid;
}

.cardBody td {
    padding: 10px;
}

.cardBody table {
    width: 90%;
    border-collapse: collapse;
    margin: auto;
}

.cardImg {
    width: 200px;
    border-radius: 10px;
    margin-left: 20%;
}

.btn {
    display: inline-block;
    background: var(--color-green-dark);
    color: var(--color-white-whip);
    border: none;
    padding: 10px 16px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
}
.btn:focus {
    outline: none;
}

.btn:hover {
    transform: scale(1.2);
    background: var(--color-red-dark);
}
